.book-call-button {
  background-color: #ff427b !important;
  border: none !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
  font-weight: 700 !important;
  color: #fff;
  padding-bottom: 0 !important;
  padding-top: 5px !important;
  margin-top: 0;
}

.book-call-button:hover {
  background-color: #fad2d8 !important;
  font-weight: 900 !important;
  color: #4a4a4a !important;
}

.icon-margin {
  margin-left: 5px;
}

/* HOMEPAGE */

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./assets/images/hero-image.png');
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  text-align: center;
}

.hero-content h1 {
  font-size: 5rem;
  color: whitesmoke;
  font-weight: 500;
  margin-bottom: 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-content h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-content button {
  font-size: 18px;
  padding: 10px 20px;
}
