/* 

The index.css file is specifically meant for applying styles to the root HTML element of your application (<div id="root"></div> in the index.html file). It is the entry point for adding global styles that affect the entire application, such as font settings, background color, or global resets.

*/

@font-face {
  font-family: 'Palmaton';
  src: url(./assets/fonts/Palmaton.ttf) format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url(./assets/fonts/PlayfairDisplay-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'AgendaLight';
  src: url(./assets/fonts/ufonts.com_agenda-light.ttf) format('truetype');
}

/*GENERAL STYLES*/

html,
body {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Palmaton', 'PlayfairDisplay', 'AgendaLight';
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-family: 'Palmaton', sans-serif;
  font-size: 2rem; /* 32px */
}

h2 {
  font-family: 'PlayfairDisplay', sans-serif;
  font-size: 2rem; /* 32px */
}

h3 {
  font-family: 'AgendaLight', serif;
  font-size: 1.75rem; /* 28px */
}

h4 {
  font-family: 'AgendaLight', serif;
  font-size: 1.5rem; /* 24px */
}
h5 {
  font-family: 'AgendaLight', serif;
  font-size: 1.25rem; /* 20px */
}
h6 {
  font-family: 'AgendaLight', serif;
  font-size: 1rem; /* 16px */
}
body {
  font-family: 'AgendaLight', serif;
  font-size: 1rem;
}
